<div class="my-smashs">
  <ng-template [ngIf]="mesSmashsStore.mesSmashs.length === 0" [ngIfElse]="printMySmashs">
    <div class="noDoggo" >
        <h1 class="titre">Aucun smash ? Les plus beaux doggos de votre région vous attendent.</h1>
        <img src="assets/side-eye-doggo.jpeg" alt="side eye doggo">
    </div>
  </ng-template>
  <ng-template #printMySmashs>
    <div class="back">
      <div class="separate" *ngFor="let smash of mesSmashsStore.mesSmashs; let index = index">
        <div class="width-90">
          <app-item-smash [doggo]="smash" [chatMode]="true" (click)="openChat(index)"></app-item-smash>
        </div>
          <button pButton type="button" icon="pi pi-trash" class="p-button-danger" (click)="deleteChat(smash)"></button>
      </div>
    </div>
  </ng-template>
</div>
