<div class="my-smashs">
    <div class="noDoggo" *ngIf="mySmashs == undefined || mySmashs.length === 0">
        <h1 class="titre">Aucun smash ? Les plus beaux doggos de votre région vous attendent.</h1>
        <img src="../../../../assets/side-eye-doggo.jpeg" alt="side eye doggo">
    </div> 

    <div class="back">
        <div class="separate" *ngFor="let smash of smashs$; let index = index">
            <div class="row" *ngIf="smash | async; let dog;" >
                <app-item-smash [doggo]="dog" [chatMode]="true" (click)="openChat(index)"></app-item-smash>
                <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-danger" (click)="deleteChat(dog.id, index)"></button>
            </div>
        </div>
    </div>
</div>